body{
    background-color: #222222;
    color: white;
    font-family: arial;
    margin: auto;
    border: 5px;
    max-width: 800px;
    padding: 10px;
    border-style: solid;
    border-color: red
}
header{
    padding: 5px;
    background-color: #111111;
}
h3{
	color: orange;
}
#download h3{
	color: #5555ff;
}
hr{
    background-color: red;
    border: none;
    height: 2px;
}
img {
	border: 4px dashed;
	border-color: blue;
	padding: 8px;
}